@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,300,700');

body{
    background: -webkit-linear-gradient(left, #fcfcfc, #f7f7f7);
    background: linear-gradient(to right, #fcfcfc, #f7f7f7);
    font-family: 'Roboto', sans-serif;
    min-width: fit-content;
    margin: 0;
    padding: 0;
}

/* highlight link current page */
body#games a#gamesnav,
body#developers a#developersnav,
body#publishers a#publishersnav,
body#genres a#genresnav,
body#systems a#systemsnav,
body#manufacturers a#manufacturersnav {
    color: #b31414;
    text-decoration: underline;
    font-weight: 800;
}

/* Style the header */
.opening {
    width: 100%;
    min-width: fit-content;
    height: 100vh;
    background: -webkit-linear-gradient(left, #f54c4c, #cc2d2d);
    background: linear-gradient(to right, #f54c4c, #cc2d2d);
    font-family: 'Roboto', sans-serif;
}

.opening span {
    margin: 0;
    font-size: 400%;
    text-align: center;
    line-height: 1;
    padding-top: calc(50vh - 50pt);
    display: block;
    font-weight: 700;
    color: #f2f2f2;
}

.header {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1.5em;
    font-size: 140%;
    position: absolute;
    top: 100vh;
    left: 0;
    transition: opacity .2s ease-in-out;
    z-index: 50;
}

.header h1 {
    font-weight: 600;
    display: inline;
    margin: 0;
    font-size: 24px;
    text-align: left;
    padding-left: 0.5em;
    color: #f54c4c;
}

/* Style the top navigation bar */
.header nav a {
    text-align: right;
    padding-right: 0.5em;
    display: inline-block;
    outline: none;
    text-decoration: none;
    opacity: .7;
    color: #cc2d2d;
    transition: opacity .3s ease-in-out;
}

.header nav a:hover,
nav a:focus {
    opacity: 1.2;
}

nav a:current {
    color: #b31414;
    text-decoration: underline;
}

/*style the searchbar*/
.searchBar {
    margin-top: 6em;
    margin-left: 1em;
    width: 7%;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    z-index: 45;
}

.searchBar input {
    width: 100%;
    background-image: url('../images/searchicon.png');
    background-align: left;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    opacity: 0.9;
    margin-bottom: 12px;
}

.searchBar:focus-within {
    width: 35%;
    opacity: 1.3;
}

table{
    width:100%;
    table-layout: fixed;
}

.tbl-header{
    background: -webkit-linear-gradient(left, #f54c4c, #cc2d2d);
    background: linear-gradient(to right, #f54c4c, #cc2d2d);
    margin-left: 1em;
    margin-right: 1em;
}

.tbl-content{
    height:500px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgb(210, 210, 210);
    margin-left: 1em;
    margin-right: 1em;
}

.tbl-header th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: #f2f2f2;
    text-transform: uppercase;
    cursor: pointer;
}

.tbl-content td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 350;
    font-size: 14px;
    color: rgb(31, 31, 31);
    border-bottom: solid 1px rgb(210, 210, 210);
}

/* table style for details pages */
.details {
    width: 800px;
    margin-top: 10em;
    margin-left: 4em;
    float: left;
}

.details-header{
    background-color: #f54c4c;
}

.details-header th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #f2f2f2;
    text-transform: uppercase;
}

.details table {
    width: 100%;
}

.media {
    width: 800px;
    margin-top: 10em;
    margin-right: 4em;
    float: right;
}

.media-header{
    background-color: #f54c4c;
}

.media-header th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #f2f2f2;
    text-transform: uppercase;
}

.media table {
    width: 100%;
}

.row-title {
    background-color: #f54c4c;
    color: #f2f2f2;
    font-weight: 800;
    text-align: center;
    font-size: 16px;
    width: 50%;
    padding-top: 3.5em;
    padding-bottom: 3.4em;
    text-transform: uppercase;
}

.row-info {
    color: rgb(31, 31, 31);
    text-align: center;
    font-size: 16px;
}

/*.image {*/
/*    !*image-resolution: from-image;*!*/
/*    !*size: portrait;*!*/
/*    width: 50%;*/
/*    height: auto;*/
/*}*/

.video_row {
    background-color: #f54c4c;
    color: #f2f2f2;
    font-weight: 800;
    text-align: center;
    font-size: 16px;
    width: 50%;
    text-transform: uppercase;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

@media (min-width: 500px) {
    header {
        text-align: left;
    }
    nav {
        float: right;
    }
}

/* And here's the magic! EQCSS.js required */
@element html, body and (min-scroll-y: 100vh) {
    .header {
        position: fixed;
        top: 0;
        background: -webkit-linear-gradient(left, #fcfcfc, #f7f7f7);
        background: linear-gradient(to right, #fcfcfc, #f7f7f7);
        box-shadow: rgba(0,0,0,.05) 0 3px 15px;
    }
}

.container {
    width: 100%;
    margin-top: 8em;
    text-align: center;
}

.container h1 {
    font-weight: 800;
    display: inline;
    margin: 0;
    font-size: 30px;
    padding-left: 0.5em;
    color: #f54c4c;
    text-align: center;
}
.container h3 {
    width: 100%;
    padding: 18px 0px;
    font-weight: 500;
    font-size: 20px;
    color: #f2f2f2;
    text-transform: uppercase;
    background: -webkit-linear-gradient(left, #f54c4c, #cc2d2d);
    background: linear-gradient(to right, #f54c4c, #cc2d2d);
    text-align: center;
    margin-top: 3em;
}

.container input[type=text], select {
    width: 75%;
    padding: 12px 20px;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
}


.container input[type=number], select {
    width: 75%;
    padding: 12px 20px;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
}

.container select:required:invalid {
    color: gray;
}

.container option[value=""] {
    display: none;
}

.container option {
    color: black;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

.container input[type=submit] {
    width: 75%;
    background-color: #f54c4c;
    color: white;
    font-size: 18px;
    padding: 14px 20px;
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container input[type=submit]:hover {
    background-color: #cc2d2d;
}

*{ box-sizing: border-box; user-select: none; }

.container section{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
}

.container input[type='checkbox']{ height: 0; width: 0;}

.container input[type='checkbox'] + label{
    position: relative;
    display: flex;
    margin: .6em 0;
    align-items: center;
    color: #f54c4c;
    transition: color 250ms cubic-bezier(.4,.0,.23,1);
}
.container input[type='checkbox'] + label > ins{
    position: absolute;
    display: block;
    bottom: 0;
    left: 2em;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: height 300ms cubic-bezier(.4,.0,.23,1);
}
.container input[type='checkbox'] + label > ins > i{
    position: relative;
    bottom: 0;
    display: flex;
    font-style: normal;
    color: #cc2d2d;
}

.container input[type='checkbox'] + label > span{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 2px solid #9E9E9E;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

.container input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label{
    color: #cc2d2d;
}

.container input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
    background: rgba(255,255,255,.1);
}

.container input[type='checkbox']:checked + label > ins{ height: 100%; }

.container input[type='checkbox']:checked + label > a{
    -webkit-flex-shrink: initial;
    color: #f2f2f2;
}

.container input[type='checkbox']:checked + label > span{
    border: .5em solid #cc2d2d;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}

.container input[type='checkbox']:checked + label > span:before{
    content: "";
    position: absolute;
    top: .6em;
    left: .2em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}

@keyframes shrink-bounce{
    0%{
        transform: scale(1.2);
    }
    33%{
        transform: scale(.85);
    }
    100%{
        transform: scale(1.2);
    }
}
@keyframes checkbox-check{
    0%{
        width: 0;
        height: 0;
        border-color: white;
        transform: translate3d(0,0,0) rotate(45deg);
    }
    33%{
        width: .2em;
        height: 0;
        transform: translate3d(0,0,0) rotate(45deg);
    }
    100%{
        width: .2em;
        height: .4em;
        border-color: white;
        transform: translate3d(0,-.55em,0) rotate(45deg);
    }
}