<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/overview.css" />
    <script src="/javascript/table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.5.1/EQCSS-polyfills.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.5.1/EQCSS.min.js"></script>
    <script>
        // Apply eqcss on clicks, resizes, inputs
        var EQCSS_resizing = false;
        var EQCSS_timeout = true;
        window.addEventListener("mousedown", function() {
            EQCSS_resizing = true;
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("mouseup", function() {
            EQCSS_resizing = false;
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("mousemove", function() {
            if(EQCSS_resizing === true) {
                if(EQCSS_timeout === true) {
                    EQCSS.apply();
                }
                EQCSS_timeout = false;
                setTimeout(function() {
                    EQCSS_timeout = true;
                },250);
            }
        });
        window.addEventListener("keydown", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("keyup", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("input", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        setInterval(function() {
            EQCSS.apply();
        }, 1000);
    </script>
    <title>Game overview</title>
</head>
<body id="games">

<div class="opening">
    <span>gameDB</span>
</div>

<div class="header">
    <h1>Your game collection</h1>
    <nav>
        <a th:href="@{/games}" id="gamesnav">Games</a>
        <a th:href="@{/developers}"id="developersnav">Developers</a>
        <a th:href="@{/publishers}" id="publishersnav">Publishers</a>
        <a th:href="@{/systems}" id="systemsnav">Systems</a>
        <a th:href="@{/genres}" id="genresnav">Genres</a>
        <a th:href="@{/manufacturers}" id="manufacturersnav">Manufacturers</a>
    </nav>
</div>

<div class="searchBar">
    <input type="text" id="mySearch" onkeyup="mySearch()" placeholder="Search.." title="Type in a keyword">
</div>

<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            <th onclick="sortTable(0)">Title</th>
            <th onclick="sortTable(1)">Developer</th>
            <th onclick="sortTable(2)">Publisher</th>
            <th onclick="sortTable(3)">Genre</th>
            <th onclick="sortTable(4)">Year</th>
            <th onclick="sortTable(5)">System</th>
        </tr>
        </thead>
    </table>
</div>

<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0" id="overview">
        <tbody>
        <tr th:each="game: ${allGames}">
        <td th:text="${game.title}" />
        <td th:text="${game.developer.name}" />
        <td th:text="${game.publisher.name}" />
        <td th:text="${game.genre.type}" />
        <td th:text="${game.year}" />
        <td th:text="${game.gamingsystem.name}" />
        </tr>
        </tbody>
    </table>
</div>

<p>
    <a th:href="@{/game/add}">Add game</a>
</p>
<br>
<br>
<br><br><br>
<br><br><br><br><br><br><br>


</body>
</html>