<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <script src="/javascript/javascript.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.5.1/EQCSS-polyfills.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.5.1/EQCSS.min.js"></script>
    <script>
        // Apply eqcss on clicks, resizes, inputs
        var EQCSS_resizing = false;
        var EQCSS_timeout = true;
        window.addEventListener("mousedown", function() {
            EQCSS_resizing = true;
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("mouseup", function() {
            EQCSS_resizing = false;
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("mousemove", function() {
            if(EQCSS_resizing === true) {
                if(EQCSS_timeout === true) {
                    EQCSS.apply();
                }
                EQCSS_timeout = false;
                setTimeout(function() {
                    EQCSS_timeout = true;
                },250);
            }
        });
        window.addEventListener("keydown", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("keyup", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("input", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        setInterval(function() {
            EQCSS.apply();
        }, 1000);
    </script>
    <title th:text="'gameDb: ' + @{${game.title}}">Game details</title>
</head>
<body id="games" onload="scrollWin()">

<div class="opening">
    <span>gameDB</span>
</div>

<div class="header">
    <h1><a th:href="@{/home}" id="homenav">Your game collection</a></h1>
    <nav>
        <a th:href="@{/games}" id="gamesnav">Games</a>
        <a th:href="@{/developers}"id="developersnav">Developers</a>
        <a th:href="@{/publishers}" id="publishersnav">Publishers</a>
        <a th:href="@{/manufacturers}" id="manufacturersnav">Manufacturers</a>
        <a th:href="@{/systems}" id="systemsnav">Systems</a>
        <a th:href="@{/genres}" id="genresnav">Genres</a>
    </nav>
</div>

<div class="details" align="left">
    <div class="details-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Game info</th>
                </tr>
            </thead>
        </table>
    </div>
    <table>
        <tr>
            <td class="row-title">Title</td>
            <td class="row-info" th:text="${game.title}"></td>
        </tr>
        <tr>
            <td class="row-title">Developer</td>
            <td class="row-info">
                <a th:href="@{/developer/{developerName}(developerName=${game.developer.name})}"
                   th:text="${game.developer.name}"/>
            </td>
        </tr>
        <tr>
            <td class="row-title">Publisher</td>
            <td class="row-info">
                <a th:href="@{/publisher/{publisherName}(publisherName=${game.publisher.name})}"
                   th:text="${game.publisher.name}"/>
            </td>
        </tr>
        <tr>
            <td class="row-title">Genre</td>
            <td class="row-info"><a th:href="@{/genres}" th:text="${game.genre.type}"/></td>
        </tr>
        <tr>
            <td class="row-title">Year</td>
            <td class="row-info" th:text="${game.year}" />
        </tr>
        <tr>
            <td class="row-title">Platform</td>
            <td class="row-info">
                <a th:href="@{/system/{systemName}(systemName=${game.gamingsystem.name})}"
                   th:text="${game.gamingsystem.name}"/>
            </td>
        </tr>
</table>
</div>

<div class="media" align="right">
    <div class="media-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Game media</th>
            </tr>
            </thead>
        </table>
    </div>
    <table>
        <tr>
            <td class="row-title">Image</td>
            <td class="image"><img width="100%" th:src="${game.imageUrl}"></td>
        </tr>
        <tr>
            <td class="video_row">Video</td>
            <td>
                <div class="aspect-ratio">
                    <iframe th:src="${game.videoUrl}" allowfullscreen></iframe>
                </div>
            </td>
        </tr>
    </table>
</div>

<section>
    <div class="collapse-container">
        <div class="collapse-header"><span>Edit game</span></div>
        <div class="collapse-content">
            <form th:action="@{/game/update/{gameId}(gameId=${game.gameId})}"
                  th:object="${game}" method="post">
                <h3>Title:</h3>
                <input type="text" id="title" th:field="*{title}" placeholder="Enter the game's title.." />
                <h3>Year:</h3>
                <input type="number" id="year" th:field="*{year}" min="1970" max="2020"
                       placeholder="Enter the year of game's release.." />
                <h3>Developer:</h3>
                <select required th:field="*{developer}">
                    <option value="" selected>Select the game's developer</option>
                    <option th:each="developer: ${allDevelopers}"
                            th:value="${developer.developerId}"
                            th:text="${developer.name}"></option>
                </select>
                <h3>Publisher:</h3>
                <select required th:field="*{publisher}">
                    <option value="" selected>Select the game's publisher</option>
                    <option th:each="publisher: ${allPublishers}"
                            th:value="${publisher.publisherId}"
                            th:text="${publisher.name}"></option>
                </select>
                <h3>Platform:</h3>
                <select required th:field="*{gamingsystem}">
                    <option value="" selected>Select the game's platform</option>
                    <option th:each="system: ${allSystems}"
                            th:value="${system.systemId}"
                            th:text="${system.name}"></option>
                </select>
                <h3>Genre:</h3>
                <select required th:field="*{genre}">
                    <option value="" selected>Select the game's genre</option>
                    <option th:each="genre: ${allGenres}"
                            th:value="${genre.genreId}"
                            th:text="${genre.type}"></option>
                </select>
                <h3>Game cover:</h3>
                <input type="text" id="image" th:field="*{imageUrl}" placeholder="Enter url of game cover image.." />
                <h3>Game trailer:</h3>
                <input type="text" id="video" th:field="*{videoUrl}" placeholder="Enter url of embedded Youtube video.." />
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <script>
        $(".collapse-header").click(function() {

        $header = $(this);
        //getting the next element
        $content = $header.next();
        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $content.slideToggle(500, function() {
            //execute this after slideToggle is done
            //change text of header based on visibility of content div
            $header.text(function() {
                //change text based on condition
                return $content.is(":visible") ? "Edit game" : "Edit game";
            });
        });
    });
    </script>
</section>

<footer>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</footer>
</body>
</html>