<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/overview.css" />
    <title>Game overview</title>
</head>
<body>
<h1>Games</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Developer</th>
        <th>Publisher</th>
        <th>Genre</th>
        <th>Year</th>
        <th>System</th>
    </tr>
    <tr th:each="game: ${allGames}">
        <td th:text="${game.title}" />
        <td th:text="${game.developer.name}" />
        <td th:text="${game.publisher.name}" />
        <td th:text="${game.genre.type}" />
        <td th:text="${game.year}" />
        <td th:text="${game.gamingsystem.name}" />
    </tr>
</table>

<p>
    <a th:href="@{/game/add}">Add game</a>
</p>

<p>
    <a th:href="@{/developers}">Developers</a>
</p>

<p>
    <a th:href="@{/publishers}">Publishers</a>
</p>

<p>
    <a th:href="@{/systems}">Systems</a>
</p>

<p>
    <a th:href="@{/genres}">Genres</a>
</p>

<p>
    <a th:href="@{/manufacturers}">Manufacturers</a>

</body>
</html>