<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <script src="/javascript/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.5.1/EQCSS-polyfills.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.5.1/EQCSS.min.js"></script>
    <script>
        // Apply eqcss on clicks, resizes, inputs
        var EQCSS_resizing = false;
        var EQCSS_timeout = true;
        window.addEventListener("mousedown", function() {
            EQCSS_resizing = true;
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("mouseup", function() {
            EQCSS_resizing = false;
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("mousemove", function() {
            if(EQCSS_resizing === true) {
                if(EQCSS_timeout === true) {
                    EQCSS.apply();
                }
                EQCSS_timeout = false;
                setTimeout(function() {
                    EQCSS_timeout = true;
                },250);
            }
        });
        window.addEventListener("keydown", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("keyup", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("input", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        setInterval(function() {
            EQCSS.apply();
        }, 1000);
    </script>
    <title>gameDB: Home</title>
</head>
<body id="home">

<div class="opening">
    <span>gameDB</span>
</div>

<div class="header">
    <h1><a>Welcome to your game collection</a></h1>
</div>

<div class="home-container-buttons">
    <a th:href="@{/games}"><button type="button">Games</button></a>
    <a th:href="@{/developers}"><button type="button">Developers</button></a>
    <a th:href="@{/publishers}"><button type="button">Publishers</button></a>
    <a th:href="@{/manufacturers}"><button type="button">Manufacturers</button></a>
    <a th:href="@{/systems}"><button type="button">Systems</button></a>
    <a th:href="@{/genres}"><button type="button">Genres</button></a>
</div>

<footer>
    <br><br><br><br><br>
</footer>

</body>
</html>