<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/overviewTestTable.css" />
    <script src="/javascript/table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>
    <title>Publisher overview</title>
</head>
<body>

<div class="header">
    <h1>Header</h1>
</div>

<div class="topnav">
    <a th:href="@{/games}">Games</a>
    <a th:href="@{/developers}">Developers</a>
    <a th:href="@{/publishers}">Publishers</a>
    <a th:href="@{/systems}">Systems</a>
    <a th:href="@{/genres}">Genres</a>
    <a th:href="@{/manufacturers}">Manufacturers</a>
</div>

<h1>Publishers</h1>
<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            <th onclick="sortTable(0)">Name</th>
            <th onclick="sortTable(1)">Year founded</th>
            <th onclick="sortTable(2)">Active</th>
            <th onclick="sortTable(3)">#Games</th>
        </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0" id="overview">
        <tbody>
        <tr th:each="publisher: ${allPublishers}">
            <td th:text="${publisher.name}" />
            <td th:text="${publisher.yearFounded}" />
            <td th:text="${publisher.active}" />
            <td th:text="${publisher.numberOfGames}" />
        </tr>
        </tbody>
    </table>
</div>

<h1>Create a new publisher</h1>
<div>
    <form th:action="@{/publisher/add}" th:object="${publisher}" method="post">
        <label for="pubname">Name:</label>
        <input type="text" id="pubname" th:field="*{name}" placeholder="Enter publisher name..">

        <label for="pubyear">Founded:</label>
        <input type="number" id="pubyear" th:field="*{yearFounded}" placeholder="Enter year..">

        <label for="pubactive">Still in business:</label>
        <input type="checkbox" id="pubactive" th:field="*{active}">
        <input type="submit" value="Submit" />
    </form>
</div>
</body>
</html>