<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <script src="/javascript/javascript.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.5.1/EQCSS-polyfills.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.5.1/EQCSS.min.js"></script>
    <script>
        // Apply eqcss on clicks, resizes, inputs
        var EQCSS_resizing = false;
        var EQCSS_timeout = true;
        window.addEventListener("mousedown", function() {
            EQCSS_resizing = true;
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("mouseup", function() {
            EQCSS_resizing = false;
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("mousemove", function() {
            if(EQCSS_resizing === true) {
                if(EQCSS_timeout === true) {
                    EQCSS.apply();
                }
                EQCSS_timeout = false;
                setTimeout(function() {
                    EQCSS_timeout = true;
                },250);
            }
        });
        window.addEventListener("keydown", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("keyup", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        window.addEventListener("input", function() {
            if(EQCSS_timeout == true) {
                EQCSS.apply();
            }
            EQCSS_timeout = false;
            setTimeout(function() {
                EQCSS_timeout = true;
            },250);
        });
        setInterval(function() {
            EQCSS.apply();
        }, 1000);
    </script>
    <title th:text="'gameDb: ' + @{${gamingsystem.name}}">Platform detail</title>
</head>
<body id="systems" onload="scrollWin()">

<div class="opening">
    <span>gameDB</span>
</div>

<div class="header">
    <h1><a th:href="@{/home}" id="homenav">Your game collection</a></h1>
    <nav>
        <a th:href="@{/games}" id="gamesnav">Games</a>
        <a th:href="@{/developers}"id="developersnav">Developers</a>
        <a th:href="@{/publishers}" id="publishersnav">Publishers</a>
        <a th:href="@{/manufacturers}" id="manufacturersnav">Manufacturers</a>
        <a th:href="@{/systems}" id="systemsnav">Systems</a>
        <a th:href="@{/genres}" id="genresnav">Genres</a>
    </nav>
</div>

<div class="details" align="left">
    <div class="details-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Platform info</th>
            </tr>
            </thead>
        </table>
    </div>
    <table>
        <tr>
            <td class="row-title">Name</td>
            <td class="row-info" th:text="${gamingsystem.name}"></td>
        </tr>
        <tr>
            <td class="row-title">Manufacturer</td>
            <td class="row-info"><a th:href="@{/system/{systemName}(systemName=${gamingsystem.manufacturer.name})}"
                                    th:text="${gamingsystem.manufacturer.name}" /></td>
        </tr>
        <tr>
            <td class="row-title">Released</td>
            <td class="row-info" th:text="${gamingsystem.year}" />
        </tr>
        <tr>
            <td class="row-title">Logo</td>
            <td class="company-logo"><img width="100%" th:src="${gamingsystem.logoUrl}"></td>
        </tr>
    </table>
</div>

<div class="dev-games-container">
    <div class="dev-games-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th onclick="sortTable(0)">Title</th>
                <th onclick="sortTable(1)">Developer</th>
                <th onclick="sortTable(2)">Publisher</th>
                <th onclick="sortTable(3)">Genre</th>
                <th onclick="sortTable(4)">Year</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="dev-games-content">
        <table id="overview">
            <tbody>
            <tr th:each="game: ${gamingsystem.myGames}">
                <td><a th:href="@{/game/{gameTitle}(gameTitle=${game.title})}" th:text="${game.title}" /></td>
                <td><a th:href="@{/developer/{developerName}(developerName=${game.developer.name})}"
                       th:text="${game.developer.name}"/></td>
                <td><a th:href="@{/publisher/{publisherName}(publisherName=${game.publisher.name})}"
                       th:text="${game.publisher.name}"/></td>
                <td th:href="@{/genres}" th:text="${game.genre.type}" />
                <td th:text="${game.year}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>

<section>
    <div class="collapse-container">
        <div class="collapse-header"><span>Edit platform</span></div>
        <div class="collapse-content">
            <form th:action="@{/system/update/{systemId}(systemId=${gamingsystem.systemId})}"
                  th:object="${gamingsystem}" method="post">
                <h3>Name:</h3>
                <div class="name-field">
                    <input type="text" id="name" th:field="*{name}" placeholder="Enter the platform's name.." />
                </div>
                <h3>Manufacturer:</h3>
                <select required th:field="*{manufacturer}">
                    <option value="" selected>Select the platform's manufacturer</option>
                    <option th:each="manufacturer: ${allManufacturers}"
                            th:value="${manufacturer.manufacturerId}"
                            th:text="${manufacturer.name}"></option>
                </select>
                <h3>Released:</h3>
                <input type="number" id="year" min="1880" max="2020" th:field="*{year}"
                       placeholder="Enter the year of platform's release.." />
                <h3>Platform logo:</h3>
                <input type="text" id="logo" th:field="*{logoUrl}"
                       placeholder="Enter an url of the platform's logo.." />
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <script>
        $(".collapse-header").click(function() {

            $header = $(this);
            //getting the next element
            $content = $header.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            $content.slideToggle(500, function() {
                //execute this after slideToggle is done
                //change text of header based on visibility of content div
                $header.text(function() {
                    //change text based on condition
                    return $content.is(":visible") ? "Edit platform" : "Edit platform";
                });
            });
        });
    </script>
</section>

<footer>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</footer>
</body>
</html>