<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/library.css" />
    <title>Create a new gaming system</title>
</head>
<body>
<h1>Create a new gaming system</h1>
<form th:action="@{/system/add}" th:object="${system}" method="post">
    <p>
        Name: <input type="text" th:field="*{name}"/>
    </p>
    <p>
        Year: <input type="number" th:field="*{year}"/>
    </p>
    <p>
        Manufacturer:
        <select th:field="*{manufacturer}">
            <option th:each="manufacturer: ${allManufacturers}"
                    th:value="${manufacturer.manufacturerId}"
                    th:text="${manufacturer.name}"></option>
        </select>
    </p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>